<center>
  <h1>Spydeer</h1>
</center>

<h2>Overview</h2>
<div class="row">
  <div class="six columns">
    <h4 align="center">Number of devices connected</h4>
    <center>
      <h5><%=@devices.count%></h5>
    </center>
  </div>

  <div class="six columns">
    <h4 align="center">Number of humans connected
    </h4>
    <center>
      <h5><%=@humans.count%></h5>
    </center>
  </div>

</div>

<h2>Track your humans</h2>
<div class="container">
  <table class="u-full-width">
<<<<<<< HEAD
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Number of devices</th>
      </tr>

    </thead>
    <tbody>
      <%@all_humans.each do |human| %>

      <tr>
        <td><%=human.first_name + " " + human.last_name%></td>
        <td><%=@humans.include?(human) ? "Connected" : "Disconnected"%></td>
        <td><%=human.device.count%></td>
      </tr>
      <%end%>

    </tbody>
  </table>

</div>

<h2>All devices on the network</h2>
<% @devices.each_with_index do |device,i| %>
<%if i%3==0%>
<div class="row">
  <%end%>

  <div class="four columns">
    <p align="center"><%=device.mac_address%></p>
  </div>

  <%if i%3==2%>
</div>
<%end%>
<% end %>
